/*.pageHead {
	margin-top: 5px;
	color: lightgrey;
	text-align: center;
}
.navList {
	text-align: center;
	margin-bottom: 20px;
}*/
.left-bar {
	left: 0;
	top: 0;
	bottom: 0;
	width: 25%;
	border: 1px solid black;
	position: fixed;
}
.portrait {
	border: 1px solid black;
}
.navigation {
	border: 1px solid black;
}
.small-contact-icon {
	border: 1px solid black;
}
.aside-footer {
	position: absolute;
	bottom: 0;
}
.main-content {
	margin-left: 25%;
}